@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: Bebus Neue, sans-serif;
    background-color: whitesmoke;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    text-align: center;
    margin: 25px 0 20px 0 ;
    letter-spacing: 6px;
}


.loader{
    /* we do not want it to move even if the user is scrolling */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader > img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}